<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Swiper JS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" /> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/custom.css" />
  </head>

  <body class="bg-[#] text-sm">
    <!-- Header -->
    <!-- <header>
        <div class="container mx-auto">
            <nav class="flex justify-between items-center p-4">
                <ul class="flex space-x-4">
                    <li>
                        <a href="https://github.com/douwjyn">
                            <img src="/images/github-mark-white.png" alt="GitHub" class="w-[22px]">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header> -->
    <!-- End of Header -->
    <!-- Main Content -->
    <main class="bg-[#fbf1c7] p-12">
      <div class="container p-6 bg-silver hover:shadow-sm border border-4 border-slate-800 shadow-lg">
        <div class="flex items-center">
          <h1 class="text-lg font-bold text-[#282828] block">
            Search them artists u like!
          </h1>
          <!-- <img src="/images/L.jpg" alt="" class="w-[130px]" /> -->
        </div>
        <form id="search-form" action="/artists/search">
          <div class="flex items-center justify-center">
            <div class="">
              <input
                name="name"
                id="artist-name"
                class="p-2 rounded-sm focus:shadow-sm outline-none bg-gray-200"
                placeholder="Search artist..."
              />
              <button
                type="submit"
                class="bg-amber-700 text-white py-2 px-4 shadow-sm"
              >
                Search
              </button>
              <a
                type="submit"
                href="/"
                class="bg-slate-700 text-white py-2 px-4 shadow-sm"
              >
                Reset
            </a>
            </div>
          </div>
        </form>
        <%- body %>
      </div>
    </main>
    <!-- <script type="module">
        import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'

        const swiper = new Swiper('.swiper', {
            direction: 'horizontal',
            loop: true,

            // If we need pagination
            // pagination: {
            //     el: '.swiper-pagination',
            // },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },

        })
    </script> -->
  </body>
</html>
